@import "tailwindcss";


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);  */
  background-color: #242424; /* Dark background */
}


